body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EAEEF4;
    z-index: 1; 
}
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-content-menu {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.navbar-content-menu-name{
    margin-left: 10px;
}
.navbar-content-menu-options-new{
    margin-right: 100px;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: rgb(103, 9, 39);
    padding: 0 20px;
    border-radius: 29px;
    color: white;
    cursor: pointer;
}
.navbar-content-menu-options-new i {
    font-size: 22px;
    margin-left: 20px;
}

.navbar-logo-icon{
    width: 60px;
    height: 60px;
    border-right: 1px solid #EAEEF4;
    border-bottom: 1px solid #EAEEF4;
    display: flex;
    align-items: center;

}
.navbar-logo-icon img{
    width: 90%;
    height: 90%;
}

.header {
    width: 300px;
    border-right: 1px solid #EAEEF4;
    position: fixed;
    height: calc(100vh - 60px);
    top: 60px;
    left: 0;
    background-color: white;
}

.header-menu{
    width: 90%;
    margin: 20px auto;
}
.header-menu-one{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid #EAEEF4;
    transition: 0.5s;
    margin-bottom: 5px;
}
.header-menu-one.active {
    background-color: #EAEEF4; 
}
.header-menu-one:hover{
    background-color: #EAEEF4;
}
.header-menu-one i{
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #515e6a;
}
.header-menu-one p{
    margin-left: 20px;
    font-size: 17px;
    color: #252525;
}
.header-themes{
    width: 95%;
    margin: 20px auto;
}
.header-themes-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-themes-name p{
    margin-left: 20px;
    font-size: 19px;
}
.header-themes-name button{
    margin-right: 20px;
    width: 35px;
    height: 35px;
    font-size: 30px;
    border: 0px;
    cursor: pointer;
    color: white;
    background-color: #0073ea;
    transition: 0.5s;
}
.header-themes-name button:hover{
    background-color: rgb(0, 0, 217);
}
.header-themes-name-first{
    display: flex;
    width: 69%;
    align-items: center;
}
.header-themes-one {
    width: 95%;
    height: 40px; 
    text-decoration: none;
    display: flex;
    transition: 0.5s;
    margin-bottom: 5px;
    justify-content: space-between;
    border-bottom: 1px solid #EAEEF4;
}
.header-themes-one:active{
    background-color: #007BFF;
}
.header-themes-one-left {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #252525; /* Lighter gray for softer text */
    width: 100%; 
    overflow: hidden; 
}

.header-themes-one-left p {
    margin: 0; 
    padding: 0; 
    overflow-x: auto; 
    white-space: nowrap; 
    width: 100%; 
    display: block; 
}

.header-themes-one-left:hover p {
    overflow-x: auto; 
    cursor: pointer; 
}

.header-themes-one-left i {
    margin-left: 20px;
    font-size: 20px;
    margin-right: 20px;
    color: #515e6a;
}

.header-themes-one:hover {
    background-color: #E3F2FD; 
}

.header-themes-one.active {
    background-color: #E3F2FD; /* Change background color */
    color: #007BFF; /* Change text color */
}

.header-themes-one-right {
    display: flex;
    align-items: center;
    font-size:19px;
    text-decoration: none;
    color: #515e6a;
    margin-right: 5px;
    padding: 0px 10px;
}

.header-themes-one-right i {
    transition: 0.5s;
}

.header-themes-one-right i:hover {
    color: #6EC6FF;
}

.header-themes-one.active {
    color: #FFFFFF; 
}
.more {
    flex-grow: 1; 
    margin-left: 300px; 
    padding-top: 60px; 
    overflow-y: auto; 
    background-color: #f9f9f9; 
    width: calc(100% - 300px); 
    min-height: calc(100vh - 60px);
}
.more_one_name{
    margin-left: 50px;
    margin-top: 40px;
}
.more {
    margin-left: 300px;
    padding-top: 60px;
    overflow-y: auto;
    background-color: #f0f4f8;
    width: calc(100% - 300px);
    min-height: calc(100vh - 60px);
}

table {
    margin-left: 50px;
    margin-top: 0px;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    padding: 8px 10px;
    border: 1px solid #d1d9e6; 
}

.tr_task {
    min-width: 350px;
}
.tr_owner {
    min-width: 300px;
}

.tr_status, .tr_priority, .tr_deadline {
    text-align: center;
    width: 120px;
    color: #333333; 
}
.tr_notdone{
    width: 50px;
}
.tr_notdone i {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    padding: 4px 0px;
    color: #252525;
} 
.tr_notdone i:hover {
    color: green;
}
.tr_done i {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
    width: 50px;
    color: green;
} 
.tr_done{
    min-width: 50px;
}
.tr_more{
    min-width: 40px;
    text-align: center;
}
.tr_notdone{
    width:50px;
}
.more_one_name_btn{
    margin-right: 100px;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: rgb(103, 9, 39);
    padding: 0 27px;
    border-radius: 29px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
    border: 0px;
}
.more_one_name_btn:hover{
    background-color: rgb(242, 101, 34);
}
.more_one_name_btn i {
    font-size: 22px;
    margin-left: 20px;
}
.more_one_all{
    display: flex;
    align-items: center;
    justify-content: space-between;
}





/* Auth */
.auth {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
    background-color: #f0f4f8;
}

.auth_main {
    width: 30%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff; 
    border-radius: 8px;
    padding: 20px; 
}

.auth_main_header {
    text-align: center; 
}

.auth_main_header img {
    width: 100px;
}

.auth_main_sect {
    text-align: center;
    margin-top: 20px;
}

.auth_main_sect h2 {
    color: #252525; 
}

.auth_main_sect p {
    color: #252525; 
    margin-bottom: 20px;
}

.auth_main_sect input {
    width: 80%;
    margin-bottom: 15px;
    height: 40px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 0 10px;
    transition: border-color 0.3s; 
}

.auth_main_sect input:focus {
    border-color: rgb(103, 9, 39); 
    outline: none; 
}

.password-input {
    position: relative;
}

.password-input input {
    padding-right: 40px;
}

.password-input i {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: #aaa; 
    cursor: pointer;
}

.auth_main_footer {
    display: flex;
    justify-content: center;
}

.auth_main_footer button {
    background-color: rgb(103, 9, 39); 
    cursor: pointer;
    border: none;
    width: 60%;
    height: 40px; 
    color: white;
    margin-top: 20px;
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.3s;
}

.auth_main_footer button:hover {
    background-color: rgb(242, 101, 34); 
    transform: translateY(-2px);
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 0.8em;
}



.get {
    margin: 30px 50px;
    background-color: white; 
    border-radius: 8px; 
    padding: 0px 20px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    max-height: 400px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.get_header {
    border-bottom: 2px solid #d1d9e6;  
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px; 

}

.get_header_left {
    color: #252525; 
    display: flex; 
}
.get_header_right_edt,
.get_header_right_rm {
    padding: 8px 20px; 
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 5px; 
    margin-left: 10px; 
    transition: background-color 0.3s, transform 0.3s; 
}

.get_header_right_edt {
    background-color: rgb(242, 101, 34); 
    cursor: pointer;
}

.get_header_right_edt:hover {
    background-color: rgb(220, 80, 30);
}

.get_header_right_rm {
    background-color: red;
    cursor: pointer; 
}

.get_header_right_rm:hover {
    background-color: darkred;
}

.get_middle {
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.middle_one {
    align-items: center; 
    margin-top: 10px;
    padding: 10px;
    margin-right: 220px; 
}

.get_middle_one {
    padding: 0 10px; 
    min-height: 50px; 
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

.get_middle_one_comment {
    align-items: center; 
    margin-top: 10px;
    padding: 10px;
    margin-right: 220px; 
}

.get_middle_one label,
.get_middle_one_comment label {
    font-weight: bold;
    color: #252525; 
    margin-bottom: 5px; 
}

.get_middle_one p,
.get_middle_one_comment p {
    margin: 0; 
    color: #252525; 
}

/* Info Section */
.info {
    width: calc(100% - 100px);
    height: auto; 
    margin: 30px 50px;
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
    flex-wrap: wrap;
}

.info_comment {
    flex: 0 0 45%; 
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    padding-bottom: 20px;
}

.info_file {
    flex: 0 0 30%;  
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    background-color: white;
    padding-bottom: 20px;
}

.info_add {
    flex: 0 0 29%; 
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    margin-left: 60px;
}

.info_comment_header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0px 10px;
    border-bottom: 2px solid #d1d9e6;
    margin: 0px 20px;
}

.create-comment-button {
    padding: 8px 12px;
    font-size: 14px;
    color: white;
    background-color: rgb(242, 101, 34);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-comment-button:hover {
    background-color: rgb(220, 80, 30);
}

.info_comment_list {
    padding: 0px 10px;
    max-height: 220px; 
    overflow-y: auto; 
}

.info_comment_item {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
  
}

.comment-meta {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #d1d9e6; 
    padding: 10px 0px;
}
.comment-meta-header{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-top: 5px;
    font-size: 12px;
    color: #666;
    border-bottom: 1px solid #d1d9e6; 
    padding: 10px 10px;
    font-weight: bold;
}
.comment-text {
    margin: 5px 0;
    flex-grow: 1; 
}

.username, .created-at {
    margin: 0 5px; 
}

.delete-icon {
    cursor: pointer;  
    margin-left: 10px; 
    transition: 0.5s;
}

.delete-icon:hover {
    color: #6EC6FF;
}
.comment-meta-rm{
    width: 40px;
}
.comment-meta-rm i{
    font-size: 18px;
    color: #515e6a;
}
.username{
    width: 150px;
}
.info_comment_list_p{
    margin-left: 10px;
}
.tr_status button{
    border: 0px;
    background-color:rgb(242, 101, 34) ;
    color: white;
    padding: 8px 15px;
    border-radius: 19px;
    cursor: pointer;
    transition: 0.5s;
}
.tr_status button:hover{
    background-color: darkred;
}
.tr_psw{
    width: 170px;
}
.tr_psw button{
    border: 0px;
    width: 170px;
    background-color:rgb(242, 101, 34) ;
    color: white;
    padding: 8px 15px;
    border-radius: 19px;
    cursor: pointer;
    transition: 0.5s;
}
.tr_psw button:hover{
    background-color: darkred;
}
.tr_deadline button{
    border: 0px;
    width: 170px;
    background-color:rgb(242, 101, 34) ;
    color: white;
    padding: 8px 15px;
    border-radius: 19px;
    cursor: pointer;
    transition: 0.5s;
}
.tr_deadline button:hover{
    background-color: darkred;
}
.tr_role button{
    border: 0px;
    width: 170px;
    background-color:rgb(242, 101, 34) ;
    color: white;
    padding: 8px 15px;
    border-radius: 19px;
    cursor: pointer;
    transition: 0.5s;
}
.tr_role button:hover{
    background-color: darkred;
}
.tr_dlt i{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}



/* Style for the popup section */
.pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.pop-order {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    max-height: 98%;
    overflow-y: auto;
    background-color: white;
    border-radius: 15px;
}

.pop_order_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 30px;
    padding: 0px 10px;
    border-bottom: 2px solid #d1d9e6; 
}

.pop_order_nav_left {
    font-size: 22px;
    font-weight: bold;
}

.pop_order_nav_right {
    font-size: 27px;
    cursor: pointer;
    transition: 0.5s;
}

.pop_order_nav_right:hover {
    font-size: 29px;
}

.pop_order_mid {
    margin: 10px 30px;
    padding: 10px;
}

.pop_order_mid_inp {
    margin-bottom: 15px;
}

.pop_order_mid_inp label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.pop_order_mid_inp input,
.pop_order_mid_inp textarea {
    width: calc(100% - 10px);
    padding:12px 5px; 
    border-radius: 5px;
    border: 1px solid #d1d9e6;
    margin: 10px 0; 
}
.pop_order_mid_inp select{
    width: 100%;
    padding:12px  5px; 
    border-radius: 5px;
    border: 1px solid #d1d9e6;
    margin: 10px 0;
}
.pop_order_mid_inp textarea {
    resize: vertical;
}

.pop_order_mid_flex {
    display: flex;
    justify-content: space-between;
}

.pop_order_mid_flex .pop_order_mid_inp {
    width: 48%; 
}

.pop_order_submit_btn {
    width: 100%;
    padding: 14px;
    background-color: rgb(103, 9, 39);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.pop_order_submit_btn:hover {
    background-color: rgb(220, 80, 30);
}
.rem_btn{
    width: 150px;
    padding: 14px;
    background-color: rgb(103, 9, 39);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.rem_btn:hover{
    background-color: rgb(220, 80, 30);
}
.pop_order_footer{
    width: 100%;
    display: flex;
    justify-content: end;
}
.sub_task{
    margin: 0px 50px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subTask_one{
    width: 52%;
}
.subTask_one_p{
    font-size: 20px;
    font-weight: bold;
} 
.subTask_one table{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.add_sub{
    font-size: 20px;
    cursor: pointer;
}